:root{
	--element_light: #3C4046;
	--element_dark: #2e3137;
	--foreground: #d1c2e9;
	--background: #1e2127;
	--highlight: #9061E1;
	--warning: #F7F247;
	--good: #4DF747;
	--bad: #F74747;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
	background-color: var(--background);
	margin: 2vh;
}

.grid-item{
	background-color: var(--element_dark);
	color: var(--foreground);
	border-radius: 5px;
	border-width: 0;
	font-size: 2vh;
	padding: 15px;
}

.vertical-center{
	align-items: center;
	display: flex;
	gap: 1ch;
}

.highlight-item{
	background-color: var(--highlight);
}

.button{
	transition-duration: 0.1s;
	text-decoration: none;
}

.button:hover{
	background-color: var(--element_light);
}

.button:active{
	background-color: var(--highlight);
}

.input-box:hover{
	background-color: var(--element_light);
}

.input-box:focus{
	outline: none;
}

.outer-grid{
	grid-template-rows: 1fr repeat(2, 5fr);
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	grid-gap: 2vh;
	height: 96vh;
}

.inner-flex-1{
	justify-content: start;
	display: flex;
	gap: 1.5vh;
}

.inner-flex-2{
	justify-content: end;
	display: flex;
}

.inner-grid-1{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1.5vh;
	display: grid;
}

.inner-grid-2{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1.5vh;
	display: grid;
}

.inner-flex-2-1{
	border-bottom-right-radius: 0; 
	border-top-right-radius: 0; 
}

.inner-flex-2-2{
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0; 
	border-top-right-radius: 0; 
	border-top-left-radius: 0; 
}

.inner-flex-2-3{
	border-bottom-left-radius: 0; 
	border-top-left-radius: 0; 
}

.inner-grid-1-flex-2{
	grid-row: span 3;
}

.inner-grid-1-2{
	width: 100%;
}

.inner-grid-2-2{
	grid-row: span 3;
	overflow: scroll;
}
