:root{
	--foreground: #d1c2e9;
	--background: #1e2127;
	--element_dark: #2e3137;
	--element_light: #3C4046;
	--highlight: #9061E1;
	--good: #4DF747;
	--warning: #F7F247;
	--bad: #F74747;
}

body{
	background-color: var(--background);
	white-space: nowrap;
}

.defined_wrap{
  white-space: nowrap; 
  width: 5px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.container{
	display: flex;
	width: 100%;
}

.container div{
	flex: 1;
}

.search div:hover{
	background-color: var(--element_light);
}

.foreground{
	background-color: var(--element_dark);
	color: var(--foreground);
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
}

.button{
	transition-duration: 0.1s;
	padding: 11px;
}

.button:hover{
	background-color: var(--element_light);
}

.button:active{
	background-color: var(--highlight);
}
